{% extends "base/main_base.html" %} 

{% block title2 %}
{% block title %}Search{% endblock %}

{% endblock %}


{% block side %}
<a href="{{url_for('main.dashboard',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-house"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey">Home</div>
  </div>
</a>
<a href="{{url_for('main.lots',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-car"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey">Lots</div>
  </div>
</a>
<a href="{{url_for('main.admin_users',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-users"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey ">Users</div>
  </div>
</a>
<a href="{{url_for('main.search_all',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row active">
    <div class="col-1"><i class="fa-solid icon fa-search"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block light">Search</div>
  </div>
</a>
<a href="{{url_for('main.summary',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-chart-simple"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey ">Summary</div>
  </div>
</a>
{% endblock %}






{% block nav %}<a href="{{url_for('main.dashboard',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-house"></i></div>
    <div class="ps-4 col-6 grey">Home</div>
  </div>
</a>
<a href="{{url_for('main.lots',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 my-1 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-car"></i></div>
    <div class="ps-4 col-6 grey">Lots</div>
  </div>
</a>
<a href="{{url_for('main.admin_users',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-users"></i></div>
    <div class="ps-4 col-6 grey ">Users</div>
  </div>
</a>
<a href="{{url_for('main.search_all',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 my-1 row active">
    <div class="col-1"><i class="fa-solid icon fa-search"></i></div>
    <div class="ps-4 col-6 light">Search</div>
  </div>
</a>
<a href="{{url_for('main.summary',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-chart-simple"></i></div>
    <div class="ps-4 col-6 grey ">Summary</div>
  </div>
</a>{% endblock %}

{% block search %}
<div class="pe-3 ps-3">
  <form action="{{ url_for('main.search_admin', role=current_user.role, username=current_user.username) }}" method="POST">
    <div class="input-group mb-3">
      
      <input type="text" class="form-control" placeholder="Search..." name="search_value" id="search_value" required>

      <select class="form-select" name="search_by" id="search_by" required>
        <option value="" disabled selected>Search by</option>
        <option value="spot">Spot ID</option>
        <option value="lot">Lot ID</option>
        <option value="user">User ID</option>
        <option value="reservation">Reservation ID</option>
        <option value="vehicle">Vehicle Number</option>
      </select>

      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
{% endblock %}

{% block mainblock %}
<div class="container mt-4">
  {% if search %}
  {% if results %}
    <div class="mb-3">
      Showing results for <span style="color: blue;">"{{ search_value }}"</span><br>
      <a href="{{ url_for('main.search_admin', role=current_user.role, username=current_user.username) }}" class="btn mt-2 btn-outline-secondary" style="width:10rem">Clear Search</a>
    </div>
  {% else %}
    <div class="mb-3">
      No results found for <span style="color: blue;">"{{ q }}"</span>.<br>
      <a href="{{ url_for(clear_url, role=current_user.role, username=current_user.username) }}" class="btn mt-2 btn-outline-secondary" style="width:10rem">Clear Search</a>
    </div>
  {% endif %}
{% endif %}

  {% if results %}

    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        {% if search_by == 'spot' %}
        <tr>
          <th>Spot ID</th>
          <th>Lot ID</th>
          <th>Status</th>
        </tr>
        {% elif search_by == 'lot' %}
        <tr>
          <th>Lot ID</th>
          <th>Location</th>
          <th>Address</th>
        </tr>
        {% elif search_by == 'user' %}
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Role</th>
        </tr>
        {% elif search_by == 'reservation' or search_by == 'vehicle' %}
        <tr>
          <th>Reservation ID</th>
          <th>User</th>
          <th>Spot ID</th>
          <th>Vehicle Number</th>
          <th>Status</th>
        </tr>
        {% endif %}
      </thead>
      <tbody>
        {% for r in results %}
          {% if search_by == 'spot' %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.lot_id }}</td>
            <td>{{ r.status }}</td>
          </tr>
          {% elif search_by == 'lot' %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.lot_location }}</td>
            <td>{{ r.address }}</td>
          </tr>
          {% elif search_by == 'user' %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.username }}</td>
            <td>{{ r.role }}</td>
          </tr>
          {% elif search_by == 'reservation' or search_by == 'vehicle' %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.user.username }}</td>
            <td>{{ r.spot_id }}</td>
            <td>{{ r.vehicle_no }}</td>
            <td>{{ r.status }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% elif search_value %}
    <div class="alert alert-warning">No results found for "{{ search_value }}".</div>
  {% endif %}
</div>
{% endblock %}
