{% extends "base/main_base.html" %} 




{% block title %}Booking details

{% endblock %}


{% block side %}
<a href="{{url_for('main.dashboard',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-house"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey">Home</div>
  </div>
</a>
<a href="{{url_for('main.lots',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row active">
    <div class="col-1"><i class="fa-solid icon fa-car"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block white">Lots</div>
  </div>
</a>
<a href="{{url_for('main.admin_users',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-users"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey">Users</div>
  </div>
</a>
<a href="{{url_for('main.search_all',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-search"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey ">Profile</div>
  </div>
</a>
<a href="{{url_for('main.summary',role=current_user.role, username=current_user.username)}}">
  <div class="ps-sm-3 my-1 ps-lg-4 ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-chart-simple"></i></div>
    <div class="ps-4 col-6 d-sm-none d-lg-block grey ">Summary</div>
  </div>
</a>
{% endblock %}






{% block nav %}<a href="{{url_for('main.dashboard',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-house"></i></div>
    <div class="ps-4 col-6 grey">Home</div>
  </div>
</a>
<a href="{{url_for('main.view_lot',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 my-1 row active">
    <div class="col-1"><i class="fa-solid icon fa-car"></i></div>
    <div class="ps-4 col-6 light">Lots</div>
  </div>
</a>
<a href="{{url_for('main.admin_users',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-users"></i></div>
    <div class="ps-4 col-6 grey ">Users</div>
  </div>
</a>
<a href="{{url_for('main.search_all',role=current_user.role, username=current_user.username)}}">
  <div class="ps-4 p-2 my-1 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-search"></i></div>
    <div class="ps-4 col-6 grey ">Search</div>
  </div>
</a>
<a href="{{url_for('main.summary',role=current_user.role, username=current_user.username)}}"></a>
  <div class="ps-4 p-2 row inactive">
    <div class="col-1"><i class="fa-solid icon fa-chart-simple"></i></div>
    <div class="ps-4 col-6 grey ">Summary</div>
  </div>
</a>{% endblock %}


{% block mainblock %}

<div class="d-flex flex-column justify-content-center align-items-center"><div class="p-2 mt-lg-3 mb-5 bg2 row "> 
    
  <form action="{{url_for('main.view_lot',current_spot=spot.id,role=current_user.role, username=current_user.username)}}" method="POST" class="p-3 p-sm-5">
    <h3 class="pb-4 dark">Details</h3>
    <div class="mb-3 row">
      <label for="spot_id" class="col-sm-4 col-form-label">Spot Id : </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="spot_id" name="spot_id" value="{{spot.id}}" disabled>
      </div>
    </div>
   
    <div class="mb-3 row">
      <label for="status" class="col-sm-4 col-form-label">User ID :</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" disabled id="status" value="{{spot.reservation[0].customer_id}}">
      </div></div>
       <div class="mb-3 row">
      <label for="status" class="col-sm-4 col-form-label">Username :</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" disabled id="status" value="{{spot.reservation[0].user.name}}">
      </div></div>
    <div class="mb-3 row">
      <label for="status" class="col-sm-4 col-form-label">Vehicle :</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" disabled id="status" value="{{spot.reservation[0].vehicle_no}}">
      </div></div>
      <div class="mb-3 row">
      <label for="status" class="col-sm-4 col-form-label">Start Time :</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" disabled id="status" value="{{spot.reservation[0].start_time.strftime('%d %b %Y, %I:%M %p') }}">
      </div>
    </div>
    <div class="d-flex p-4 justify-content-center">
      <div class="mx-2">
      <a class="btn btn-length btn-danger" href="{{url_for('main.view_spot',current_spot=spot.id,current_lot=spot.lot.id,role=current_user.role, username=current_user.username)}}" role="button">Back</a></div></div>
  </form>
</div></div>
{% endblock %}
